#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/5418414e-96b9-4749-a1c4-c61a24812a5c/ # 
title: ONLINE-SHOPPING-API


/users :
  get:
    responses:
      200:
        body:
          application/json:
            example:
              [{
    "email": "berhanemeron61@gmail.com",
    "username": "MERRY"
  }]

  /{id} : 
   description: id
   uriParameters:
     id:
       required: true
   get:

    responses:
        200:
          body:
            application/json:
              example:
                {
    "email": "berhanemeron61@gmail.com",
    "username": "MERRY"
    }
                
  post:
      body:
          application/json:
            example:
              {
  "email": "berhanemeron61@gmail.com",
  "username": "MERRY"
}
/products:
  get:
    responses:
      200:
        description: ok
        body:
          application/json:
            example:
              [
  {
    "categoryid": 19,
    "description": "The G-707 Gaming mouse is a razor-sharp mouse with 3000 DPI",
    "name": "KK G-707 Gaming mouse",
    "price": 7777,
    "productid": 101,
    "video_url": "https://www.youtube.com/watch?v=3AtDnEC4zak"
  }
]
      401:
        description: anautoried  
      403:
        description: forbidden
      404:
        description: not found
/products/{id} :
  get:
    responses:
      200:
        body:
          application/json:
            example:
              {
    "categoryid": 19,
    "description": "The G-707 Gaming mouse is a razor-sharp mouse with 3000 DPI",
    "name": "KK G-707 Gaming mouse",
    "price": 7777,
    "productid": 101,
    "video_url": "https://www.youtube.com/watch?v=3AtDnEC4zak"
  }

      401:
        description: Anautorized
      403:
        description: Forbidden
      404:
        description: Not Found                   
/consume:
  get:
    responses:
      200:
        description: ok
        body:
          application/json:
            example:
              "yes"
      401:
        description: unautorized
      403:
        description: Forbidden
      404:
        description: Not Found  
/orders:
  get:
    responses:
      200:
        description: Ok
        body:
          application/json:
            example:
                     [

            {

              "orderid": 128,

              "userid": 1019,

              "addressid": 201,

              "discountid": 1,

              "created": "2020-05-27T23:18:46.000+00:00",

              "modified": null,

              "status": "Accepted",

              "amount": 1000

            }

          ]
      401:
        description: Unautorized
      403:
        description: Forbidden
      404:
        description: Not Found  
  post:
    body:
      application/json:
        example:
          {
  "products": [
    {
      "productId": 0,
      "quantity": 0
    }
  ],
  "uid": 0
}
    responses:
      200:
        description: Ok
        body:
          application/json:
            example :
              "CREATED"
             
/orders/{uid}:
     get:
       responses:
        200:
          description: Ok
          body:
            application/json:
              example :
                 {

            "orderid": 128,

            "userid": 1019,

            "addressid": 201,

            "discountid": 1,

            "created": "2020-05-27T23:18:46.000+00:00",

            "modified": null,

            "status": "Accepted",

            "amount": 1000

          }

        401:  
          description: unautorized
        403:
         description: Forbidden
        404:
          description: Not Found  
/orders/{id}:
    get:
     responses:
        200:
          description: Ok
          body:
            application/json:
              example:
                {
            "orderid": 128,

            "userid": 1019,

            "addressid": 201,

            "discountid": 1,

            "created": "2020-05-27T23:18:46.000+00:00",

            "modified": null,

            "status": "Accepted",

            "amount": 1000

          }

        401:  
          description: unautorized
        403:
         description: Forbidden
        404:
         description: Not Found  
/categories:
  get:
    responses:
      200:
        description: Ok
        body:
          application/json:
            example:
              [
  {
    "categoryid": 10,
    "name": "laptop"
  }
]
      401:  
          description: unautorized
      403:
         description: Forbidden
      404:
         description: Not Found  
  /categories/{id} :
    get:
     
      responses:
        200:
          description: Ok
          body:
            application/json:
              example:
                {
   

                "categoryid": 10,

                "name": "laptop"

              }
 
        401:  
          description: unautorized
        403:
         description: Forbidden
        404:
         description: Not Found  