#%RAML 1.0
title: Online Shopping
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/fd967ff9-8b4a-4df1-a594-f7e906306c98/ # baseUri:
version:
types:
  Catagory: !include /DataType/CatagorydataType.raml
  Order: !include /DataType/OrderDataType.raml
  Users: !include /DataType/UsersdataType.raml
  Products: !include /DataType/productdataType.raml
   
/categories:
  get:
    responses:
      200:
        body:
          application/json:
            type:  Catagory[]
            example: !include Examples/CatagoryExample.raml
              
  /{id}:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include Examples/CatagoryIDExample.raml
/order:
  get:
    responses:
      200:
        body:
          application/json:
            type: []
            example: !include Examples/OrderIDExample.raml
  post:
    body:
      application/json:
        example: !include Examples/OrderIDExample.raml
    responses:
      201:
        body:
          application/json:
            example:
             {"message":"Order submited successfyly"}
              
  /{id}:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include/Examples/OrderIDExample.raml
                
  /{uid}:
    get:
      responses:
        200:
          body:
            application/json:
              example: {
  "uid": integer
}
                
/product:
  get:
    responses:
      200:
        body:
          application/json:
            example:
  /{id}:
    get:
      responses:
        200:
          body:
            application/json:
              example:
/user:
  get:
    responses:
      200:
        body:
          application/json:
            example:
  post:
    body:
      application/json:
        example:
    responses:
      201:
        body:
          application/json:
            example:
  /{id}:
    get:
      responses:
        200:
          body:
            application/json:
              example: