#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/6303fbf2-8c2e-429d-b263-68991022d5f4/ # 
title: online-shipping
/users:
  get:
    responses:
      200:
        body:
          application/json:
            example: |
              [{
                "email": "craft@gmail.com",
                "username": "craft"
              }]
      401:
        body:
          application/json:
            example: 
              {
             Unauthorized
            } 
      403:
        body:
          application/json:
            example: 
              {
             Forbidden
            }      
      404:
        body:
          application/json:
            example: 
              {
             Not Found
            }      
                   
  post:
    body:
      application/json:
        example:
          {
            "email": "craft@gmail.com",
            "username": "craft"
          }
    responses:
      200:
        body:
          application/json:
            example:
              {
                "uid": 1010
              }
      201:
        body:
          application/json:
            description: Created 
      401:
        body:
          application/json:
            description: Unauthorized
      403:
        body:
          application/json:
            description: Forbidden
      404:
        body:
          application/json:
            description: Not Found                        
              
  /{id}:
    uriParameters:
      id:
        required: true
    get:
        responses:
          200:
            body:
              application/json:
                example:
                  {
                    "email": "string",
                    "username": "string"
                  }
          401:
            body:
              application/json:
            description: Unauthorized  
          403:
            body:
              application/json:
                description: Forbidden
          404:
            body:
              application/json:
                description: Not Found         
      
/products:
  get:
    responses:
      200:
        description: OK
        body:
          application/json:
            example:
              [
                {
                  "productid": 101,
                  "categoryid": 19,
                  "name": "KK G-707 Gaming mouse",
                  "description": "The G-707 Gaming mouse is a razor-sharp mouse with 3000 DPI.",
                  "video_url": "https://www.youtube.com/watch?v=3AtDnEC4zak",
                  "price": 7777
                }
              ]
      401:
        body:
          application/json:
            example: 
              {
             Unauthorized
            } 
      403:
        body:
          application/json:
            example: 
              {
             Forbidden
            }      
      404:
        body:
          application/json:
            example: 
              {
             Not Found
            }          
  /{id}:
    uriParameters:
      id:
        required: true
    get:
      responses:
        200:
          body:
            application/json:
              example:              
                  {
                    "productid": 101,
                    "categoryid": 19,
                    "name": "KK G-707 Gaming mouse",
                    "description": "The G-707 Gaming mouse is a razor-sharp mouse with 3000 DPI",
                    "video_url": "https://www.youtube.com/watch?v=3AtDnEC4zak",
                    "price": 7777
                  }
        401:
          body:
            application/json:
              example: 
                {
              Unauthorized
              } 
        403:
          body:
            application/json:
              example: 
                {
              Forbidden
              }      
        404:
          body:
            application/json:
              example: 
                {
              Not Found
              }          
              
/orders:
  get:
    responses:
      200:
        description: Ok
        body:   
          application/json:
            example: 
              [
                {
                  "orderid": 128,
                  "userid": 1019,
                  "addressid": 201,
                  "discountid": 1,
                  "created": "2020-05-27T23:18:46.000+00:00",
                  "modified": null,
                  "status": "Accepted",
                  "amount": 1000
                }
              ]
      401:
          body:
            application/json:
              example: 
                {
              Unauthorized
              } 
      403:
          body:
            application/json:
              example: 
                {
              Forbidden
              }      
      404:
          body:
            application/json:
              example: 
                {
              Not Found
              }   
                
   
  post:
    body:
      application/json:
        example:
          {
            "products": [
              {
                "productId": 0,
                "quantity": 0
              }
            ],
            "uid": 0
          }
    responses:
      200:
        description: Ok
        body:   
          application/json:
            example: 
              [
                {
                  "orderid": 128,
                  "userid": 1019,
                  "addressid": 201,
                  "discountid": 1,
                  "created": "2020-05-27T23:18:46.000+00:00",
                  "modified": null,
                  "status": "Accepted",
                  "amount": 1000
                }
              ]
      201:
        body:
          application/json:
            description: Created         
      401:
          body:
            application/json:
              example: 
                {
              Unauthorized
              } 
      403:
          body:
            application/json:
              example: 
                {
              Forbidden
              }      
      404:
          body:
            application/json:
              example: 
                {
              Not Found
              }   


/orders/{id}:
  uriParameters:
      id:
        required: true
  get:
    body:
      application/json:
        example:
          {
            "orderid": 128,
            "userid": 1019,
            "addressid": 201,
            "discountid": 1,
            "created": "2020-05-27T23:18:46.000+00:00",
            "modified": null,
            "status": "Accepted",
            "amount": 1000
          }
/categories:
  get:
    responses:
      200:
        body:
          application/json:
            example:
              [
                {
                  "categoryid": 0,
                  "name": "string"
                }
              ]
/categories/{id}:
  get:
    responses:
      200:
        body:
          application/json:
            example:
              {
                "categoryid": 10,
                "name": "labtop"
              }
