#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/812d092e-ea94-45a5-a68e-bb97c3bdbf67/ # 
title: online-shopping
version: 1.1
types:
  products: !include Types/products.raml
  catagory: !include Types/catagory.raml 
  order: !include Types/order.raml
/users:
  post:
    body:
      application/json:
        example:
          {"username": "test", "email":"test@gmail.com"}
    responses:
      200:
        body:
          application/json:
            example:
              {"uid":111} 
      201:
        body:
          application/json:
            examples:
             {"created"} 

      401:
           body:
             application/json:
               examples:
                 {"unautorized"}
      403:
           body:
             application/json:
               examples:
                {"forbidden"} 
  get:
    responses:
      200:
        body:
          application/json:
            example:
              
/catagories:
  description: find all catagories
  get:
    responses:
      200:
        body:
          application/json:
            type: catagory 
            example: !include Examples/catagory.raml 
      401:
           body:
             application/json:
               examples:
                 {"unautorized"}
      403:
           body:
             application/json:
               examples:
                {"forbidden"} 
      404:
           body:
             application/json:
               examples:
                 {"not found"} 
  /{catagoryid}:
    get:
      responses:
        200:
          body:
            application/json:
              example:
                  {
    "categoryid": 17,
    "name": "men's clothing"
  }                              

/products:
    get:
      responses:
        200:
          body:
            application/json:
              type: products
              examples: !includeExamples/prodcts.raml 
        401:
           body:
             application/json:
               examples:
                 {"unautorized"}
        403:
           body:
             application/json:
               examples:
                {"forbidden"} 
        404:
           body:
             application/json:
               examples:
                 {"not found"}
    /{productid}:
      description: 
      get:
        responses:
          200:
            body:
              application/json:
                example:
                  {
                  "categoryid": 11,
                  "description": "laptop",
                  "name": "hp laptop",
                  "price": 550,
                  "productid": 121,
                  "video_url": "string_video"
                  }
        




/orders:
  post:
    body:
      application/json:
        examples:
         {"productid": "101", 
         "quantity":"5"}

    responses:
      200:
        body:
          application/json:
            type: order
            examples: !include Examples/order.raml
  /{orderid}:
    get:
      responses:
        200:
          body:
            application/json:
              examples:
                {
  "orderid": 128,
  "userid": 1019,
  "addressid": 201,
  "discountid": 1,
  "created": "2020-05-27T23:18:46.000+00:00",
  "modified": null,
  "status": "Accepted",
  "amount": 1000
}       
        401:
         body:
          application/json:
            examples:
             {"unautorized"}
        403:
           body:
             application/json:
               examples:
                {"forbidden"} 
        404:
           body:
             application/json:
               examples:
                 {"not found"}  
   
        
                
              
  
