#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/028e5496-e430-422e-95e9-c55c82553fd6/ # 
title: onlineshopping-Yibeltal
/users:
  get:
    responses:
      200:
        body:
          application/json:
            example:
              {
  "email": "string",
  "username": "string"
}
  post:
    body:
      application/json:
        example:
          {"uid"}
    responses:
      400:
        body:
          application/json:
            example:
              {"not found"}        
/products:
  get:
    responses:
      200:
        body:
          application/json:
            example:
              {
    "categoryid": 0,
    "description": "string",
    "name": "string",
    "price": 0,
    "productid": 0,
    "video_url": "string"
  }
/products{id}:
   get:
     responses:
       200:
         body:
           application/json:
             example:
               {
  "productid": 101,
  "categoryid": 19,
  "name": "KK G-707 Gaming mouse",
  "description": "The G-707 Gaming mouse is a razor-sharp mouse with 3000 DPI. The mouse comes with a 1-year warranty ",
  "video_url": "https://www.youtube.com/watch?v=3AtDnEC4zak",
  "price": 7777
}

/catagories:
  get:
    responses:
      200:
        body:
          application/json:
            example:
              {
    "categoryid": 0,
    "name": "string"
  }

/catagorie{id}:
    get:
      responses:
        200:
          body:
            application/json:
              example:
                {
  "categoryid": 10,
  "name": "labtop"
}

/orders:
  get:
    responses:
      200:
        body:
          application/json:
            example:
              {
    "addressid": 0,
    "amount": 0,
    "created": {
      "date": 0,
      "day": 0,
      "hours": 0,
      "minutes": 0,
      "month": 0,
      "nanos": 0,
      "seconds": 0,
      "time": 0,
      "timezoneOffset": 0,
      "year": 0
    },
    "discountid": 0,
    "modified": {
      "date": 0,
      "day": 0,
      "hours": 0,
      "minutes": 0,
      "month": 0,
      "nanos": 0,
      "seconds": 0,
      "time": 0,
      "timezoneOffset": 0,
      "year": 0
    },
    "orderid": 0,
    "status": "string",
    "userid": 0
  }
/order{id}:

    get:
      responses:
        200:
          body:
            application/json:
              example:
                {
  "orderid": 128,
  "userid": 1019,
  "addressid": 201,
  "discountid": 1,
  "created": "2020-05-27T23:18:46.000+00:00",
  "modified": null,
  "status": "Accepted",
  "amount": 1000
}
/order:
  post:
    responses:
      200:
        body:
          application/json:
            example:
              {
      "productId": 0,
      "quantity": 0
    }


    
 