#%RAML 1.0
title: online-shopping
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/fc64fe19-c303-45f7-992b-9bfc4281defb/ # baseUri: online-shopping

description: users online shopping api
uses:
  osr:  datatypes/online-shopping.raml
/user:
  post:
    body:
      application/json:
        type: osr.createUserRequesType
        example:  !include /examples/create-user-request.json
    responses:
      201:
        body:
          application/json:
            example:  !include examples/create-user-response.json
       
/products:
  get:
    responses:
      200:
        body:
          application/json:
            type: osr.productsResponseType[]
            examples: !include/osr.examples/product-response.json
     
  /{id}:
    get:
      responses:
        200:
          body:
            application/json: 
              type: osr.productIdResponseType
              example:  !include/examples/get-product-by-id-response.json
/Categories:
  get:
    responses:
      200:
        body:
          application/json:
            type: osr.categoryResponseType[]
            examples: 
       
  /{id}:
    get:
      
      responses:
        200:
          body:
            application/json:
              type: osr.categoryResponseType
              example:  !include/examples/get-category-by-id-response.json

/Orders:
  get:
    responses:
      200:
        body:
          application/json:
            type: osr.ordersResponseType[]
            examples: !include/examples/get-all-order-response.json
      

  /{id}:
    description: Get order by orderid
    get:
      responses:
        200:
          body:
            application/json:
              type: osr.ordersResponseType
              example:  !include/examples/get-order-by-id-responses.json
          
        401: 
          body:
            application/json:
              type: osr.orderByIdResponseType
              example:  !include/examples/unauthorized.json
            
        403:
          body:
            application/json:
              type: osr.orderByIdResponseType
              example:  !include/examples/unauthorized.json 
               
        404:
          body:
            application/json:
              type: osr.orderByIdResponseType
              example:  !include/examples/resorse-not-found.json
           
/orders:
  description: Create orders
  post:
    body:
      application/json:
        type: osr.createOrdersRequestType
        example:  !include/examples/create-orders-request.json

    responses:
      200:
        body:
          application/json:
            type: osr.createOrdersRequestType
            example:  !include/examples/order-request.json
        
      
      
     
      
          
        
      
      
      
      

                
    
    
      
              
  
    
         
            


                  
              
        
  
        
    
      
      
  


      
  

                  
      