#%RAML 1.0 
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/05dc0679-6e92-46c6-b742-11926f9bf325/ # 
title: online-Shopping

/user:
  post:
    body:
      application/json:
        example:
          {"username":"eliza", "email":"esis@gmial.com"}
    responses:
      200:
        body:
         application/json:
           example:
             {"userid":"li234"}       
/users/{id}:
    get:
      responses:
        200:
          body:
            application/json:
              example:
                {
                  "email": "esis@gmail.com",
                  "username": "eliza"
                }
/products:
  get:
    responses:
      200:                
        body:
          application/json:
            
            examples:
              {
                "productid":105,
                "catagoryid":122
                "description":"phone"
                "name":"samsung"
                "price":699.00
              
              }

/products/{id}:
  get:
    responses:
      200:
        body:
          application/json:
            example:              
                {
                 "productid":105,
                 "catagoryid":122
                 "description":"phone"
                 "name":"samsung"
                 "price":699.00
                }    
/order:
  get:
    responses:
      200:
        body:
          application/json:
            example:
                            [
                {
                  "addressid": 100,
                  "amount": 300,
                  "created": {
                    "date": 05/31/20,
                    "day": sunday,
                    "hours": 7,
                    "minutes": 30,
                    "nanos": 004,
                    "seconds": 03,
                    "time": 5:6,
                    "timezoneOffset": +3,
                    "year": 2020,
                  },

                  "discountid": 101,
                  "modified": {
                    "date": 04/27/20,
                    "day": 27,
                    "hours": 03,
                    "minutes": 14,
                    "month": 04,
                    "nanos": 45,
                    "seconds": 50,
                    "time": 03:14,
                    "timezoneOffset": +3,
                    "year": 2020
                  },

                  "orderid": 102,
                  "status": "active",
                  "userid": li123
                }
              ]

  post:
    body:
      application/json:
        example:
                  {
          "products": [
            {
              "productId": 303,
              "quantity": 1000
            }
          ],
          "uid": 0
        }

  /order/{id}:
 
    get:
      responses:
        200:
          body:
            application/json:
              example:
                {
                   "orderid": 102, 
                   "userid": li123,
                   "addressid": 100,
                   "discountid": 101,
                   "created": "2020-05-31T23:18:46.479+00:00",
                   "modified": null,
                  "status": "Accepted",
                  "amount": 500
                }
/categories:
  get:
    responses:
      200:
        body:
          application/json:
            example:
              [
                {
                  "categoryid": 122,
                  "name": "phone"
                }
              ]
/categories/{id}:
  get:
    responses:
      200:
        body:
          application/json:
            example:
              {
                "categoryid": 122,
                "name": "phone"
              }

    