#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/25670b24-7d41-4d20-b1b5-3ccf5c816047/ # 
title: online_shopping
description: to make online shoping possible
types:
  users:
    type: object
    properties:
      firstname: string
      email:  string
  products:
    type: object
    properties:
      productid: integer
      categoryid: integer
      name: string
      description: string
      video_url: string
      price: integer
  categories:
    type: object
    properties:
      categoryid: integer
      name: string



/users:
  description: get user id and pwd
  post:
      body:
        application/json:
          example:
            {
            "email":"string", 
            "username":"string"
            }
            
      responses:
        201:
          body:
            application/json:
              example:
                [
                  {
                    "uid": integer
                  }
                ]
                
                
  /users/{id}:
    uriParameters:
      uid:integerinteger
    get:
      responses:
        200:
          body:
            application/json:
              type: users
              example:
/products:
    description: 
    get:
      body:
        application/json:
          example:  
           
      responses:
        200:
          body:
            application/json:
              type: products []
              example:
                [{
                "categoryid": 0,
                "description": "string",
                "name": "string",
                "price": 0,
                "productid": 0,
                "video_url": "string"
                }
               ]
                  
    /{id}:
      uriParameters:
        id:
          required: true
      get:
        responses:
          200:
            body:
              application/json:
                type: products
                example:
                 {
                  "productid": 101,
                 "categoryid": 19,
                  "name": "KK G-707 Gaming mouse",
                 "description": "The G-707 Gaming mouse is a razor-sharp mouse with 3000 DPI. The mouse comes with a 1-year warranty ",
                  "video_url": "https://www.youtube.com/watch?v=3AtDnEC4zak",
                 "price": 7777
                } 

/categories:
  get:
    body:
      application/json:
        type: categories
        example:
    responses:
      200:
        body:
          application/json:
            type: categories[]
            example:
              [
                {
                  "categoryid": 0,
                  "name": "string"
                }
              ]
          
  /{id}:
    uriParameters:
        id:integer
    get:
      body:
        application/json:
          example: ! include 
            
      responses:
        200:
          body:
            application/json:
              type: object
              example:
                {
                  "categoryid": 10,
                  "name": "laptop"
                }
                

/orders:
  get:
    body:
      application/json:
        example:
    responses:
      200:
        body:
          application/json:
            type: orders []
            example:
             [
              {
                "addressid": 0,
                "amount": 0,
                "created": {
                  "date": 0,
                  "day": 0,
                  "hours": 0,
                  "minutes": 0,
                  "month": 0,
                  "nanos": 0,
                  "seconds": 0,
                  "time": 0,
                  "timezoneOffset": 0,
                  "year": 0
                },
                "discountid": 0,
                "modified": {
                  "date": 0,
                  "day": 0,
                  "hours": 0,
                  "minutes": 0,
                  "month": 0,
                  "nanos": 0,
                  "seconds": 0,
                  "time": 0,
                  "timezoneOffset": 0,
                  "year": 0
                },
                "orderid": 0,
                "status": "string",
                "userid": 0
              }
            ]
/{id}:
  get:
    body:
      application/json:
        example:
            example:
    responses:
      200:
        body:
          application/json:
           type: order
           example:
               {
                "orderid": 128,
                "userid": 1019,
                "addressid": 201,
                "discountid": 1,
                "created": "2020-05-27T23:18:46.000+00:00",
                "modified": null,
                "status": "Accepted",
                "amount": 1000
              }
  post:
    body:
      application/json:
        example:
          {
            "products": [
            {
            "productId": 0,
            "quantity": 0
            }
          ],
          "uid": 0
          }    
    responses:
      200:
        body:
          application/json:
            example:
              {
                "orderid": 128,
                "userid": 1019,
                "addressid": 201,
                "discountid": 1,
                "created": "2020-05-27T23:18:46.479+00:00",
                "modified": null,
                "status": "Accepted",
                "amount": 1000
              }
                          