#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/3244786f-9c83-4dd9-bc0a-10c61d5306d6/ # 
title: online_shopping
version: 1.0.0

/user:
  post:
    body:
      application/json:
        example:
          {
            "username": "Merhawit",
            "email":"mer@mule.com"
          }
  get:
    responses:
      200:
        body:
          application/json:
            example:
              {
                "uid":22
              }  
/products:
  get:
    responses:
      200:
        body:
          application/json:
             example: !include allproduct.json
  /{id}:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include singleProduct.json
/orders:
  get:
    responses:
      200:
        body:
          application/json:
            example: !include orders.json
  /{id}:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include orderById.json
    post:
      body:
        application/json:
          example:
            {
             "productId": 1,
             "quantity": 1,
             "uid": 1
            }
      responses:
        200:
          body:
            application/json:
              example: !include orderById.json
/catagories:
  get:
    responses:
      200:
        body:
          application/json:
            example:
                {
                  "categoryid": 1,
                  "name": "laptop"
                }
  /{id}:
    get:
      responses:
        200:
          body:
            application/json:
              example:
                {
                    "categoryid": 10,
                    "name": "tv"
                  }

 
                


                      
  
           
  
                             