#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/3ab930f7-b73a-4f79-b1dc-290dbda87ce6/ # 
title: online-shopping

/users:
  post:
    body:
      application/json:
        example:
          {"userName":"amen",
          "email":"amen@gmail.com"}
    responses:
     201:
       body:
         aplication/jasonn:
           example:
             {"uid:130"}
/products:
  get:
    responses:
      200:
        body:
          application/json:
            example:
              [
       {
      "categoryid": 1,
      "description": "cell phone",
      "name": "iphone",
      "price":1000,
      "productid":001,
      "video_url": "https://www.techwalla.com/articles/how-to-find-your-youtube-url" }
      ]
  /{productid}: 
      get:
        responses:
          200:
            body:
              application/json:
                example: !include examples/getproductid.json

               
  /categories:
   get:
    responses:    
      200:
        body:
          application/json:
            example:
              [
    {
    "categoryid": 0,
    "name": "string"
    }]
  /{categoriesid}:

      get:
        responses:
          200:
            body:
              application/json:
                example:
                      {
                      "categoryid": 10,
                      "name": "cellphone"}
/order:
  get:
    responses:
      200:
        body:
          application/json:
            example: !include examples/getorder.json
             
  /{orderid}:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include examples/getorderbyid.json
               
  
  post:
        body:
          application/json:
            example:
              {
  "products": [
    {
      "productId": 0,
      "quantity": 0
    } 
  ],
  
}
        responses:
          201:
            body:
              application/json:
                example:
                  {
  "orderid": 128,
  "userid": 1019,
  "addressid": 201,
  "discountid": 1,
  "created": "2020-05-27T23:18:46.479+00:00",
  "modified": null,
  "status": "Accepted",
  "amount": 1000
}



        
  



            





  
   
     

     

     

     
     
       
     
     
       
       


      

      


          
            
            
    

           
    


  
        
  


       


    

