#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/6b8068f8-09a8-402d-a4f4-fcec4b162ba6/ # baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/05dc0679-6e92-46c6-b742-11926f9bf325/ # 
title: onlineshopping
version: 1
/user:
  post:
    body:
      application/json:
        example:
          {
  "email": "tes@gmail.com",
  "username": "test"
}
    responses:
      201:
        body:
          application/json:
            example:
              {"uid":100}
/products:
  get:
    description: 
    responses:
      200:
        body:
          application/json:
            example:
              [
            {
              "categoryid": 102,
              "description": "computer",
              "name": "HP",
              "price": 500.00,
              "productid": 02,
              "video_url": "https://www.youtube.com/channel"
            }
            ]  
  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example:
                {
  "productid": 101,
  "categoryid": 19,
  "name": "KK G-707 Gaming mouse",
  "description": "The G-707 Gaming mouse is a razor-sharp mouse with 3000 DPI. The mouse comes with a 1-year warranty ",
  "video_url": "https://www.youtube.com/watch?v=3AtDnEC4zak",
  "price": 7777
}

/categories:
  get:
    description: To retrieve the catagories
    responses:
      200:
        body:
          application/json:
            example:
              [
                {
                    "categoryid": 01,
                    "name": "Electronics"
                }
            ]
 
  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example:
                {
                  "categoryid": 10,
                  "name": "labtop"
                }

/order:
  get:
    responses:
      200:
        body:
          application/json:
            example:
                            [
                {
                  "addressid": 201,
                  "amount": 300,
                  "created": {
                    "date": 05/27/20,
                    "day": Thursday,
                    "hours": 12,
                    "minutes": 43,
                    "month": 05,
                    "nanos": 004,
                    "seconds": 03,
                    "time": 5:6,
                    "timezoneOffset": +3,
                    "year": 2020
                  },
                  "discountid": 202,
                  "modified": {
                    "date": 02/29/20,
                    "day": 29,
                    "hours":10,
                    "minutes": 30,
                    "month": 02,
                    "nanos": 04,
                    "seconds": 50,
                    "time": 11:35,
                    "timezoneOffset":+3,
                    "year": 2020
                  },
                  "orderid": 203,
                  "status": "active",
                  "userid":04
                }
              ]

  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example:
                {
                  "orderid": 128,
                  "userid": 1019,
                  "addressid": 201,
                  "discountid": 1,
                  "created": "2020-05-27T23:18:46.000+00:00",
                  "modified": null,
                  "status": "Accepted",
                  "amount": 2000
                }
  post:
    body:
      application/json:
        example:
                  {
          "products": [
            {
              "productId": 303,
              "quantity": 10
            }
          ],
          "uid": 04
        }
    responses:
      201:
        body:
          application/json:
            example:
              {
  "orderid": 128,
  "userid": 1019,
  "addressid": 201,
  "discountid": 1,
  "created": "2020-05-27T23:18:46.479+00:00",
  "modified": null,
  "status": "Accepted",
  "amount": 1000
}