#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/05dc0679-6e92-46c6-b742-11926f9bf325/ # 
title: onlineShop-regasa
/user:
  post:
    body:
      application/json:
        example:
          {
  "email": "training@gmail.com",
  "username": "test"
}
    responses:
      201:
        body:
          application/json:
            example:
              {"uid":100}
/products:
  get:
    description: 
    responses:
      200:
        body:
          application/json:
            example:
              [
            {
              "categoryid": 100,
              "description": "tablet",
              "name": "LG",
              "price": 50,
              "productid": 0567467,
              "video_url": "https://www.youtube.com/tba1"
            }
            ]  
  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example:
                {
  "productid": 0567467,
  "categoryid": 1456,
  "name": "hh keaboard writer",
  "description": "brand new ",
}
/categories:
  get:
    description: To retrieve the catagories
    responses:
      200:
        body:
          application/json:
            example:
              [
                {
                    "categoryid": 01,
                    "name": "Electronics"
                }
            ]

/order:
  get:
    responses:
      200:
        body:
          application/json:
            example:
                            [
                {
                  "addressid": 201,
                  "amount": 300,
                  "created": {
                    "date": 05/27/20,
                    "day": Thursday,
                    "hours": 12,
                    "minutes": 43,
                    "month": 05,
                    "nanos": 004,
                    "seconds": 03,
                    "time": 5:6,
                    "timezoneOffset": +3,
                    "year": 2020
                  },
                  "discountid": 202,
                  "modified": {
                    "date": 05/27/20,
                    "day": 27,
                    "hours":12,
                    "minutes": 47,
                    "month": 05,
                    "nanos": 04,
                    "seconds": 50,
                    "time": 12:47,
                    "timezoneOffset":+3,
                    "year": 2020
                  },
                  "orderid": 203,
                  "status": "active",
                  "userid":04
                }
              ]

  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example:
                {
                  "orderid": 128,
                  "userid": 1019,
                  "addressid": 201,
                  "discountid": 1,
                  "created": "2020-05-27T23:18:46.000+00:00",
                  "modified": null,
                  "status": "Accepted",
                  "amount": 1000
                }
  post:
    body:
      application/json:
        example:
                  {
          "products": [
            {
              "productId": 303,
              "quantity": 1000
            }
          ],
          "uid": 04
        }
    responses:
      201:
        body:
          application/json:
            example:
              {
  "orderid": 128,
  "userid": 1019,
  "addressid": 201,
  "discountid": 1,
  "created": "2020-05-27T23:18:46.479+00:00",
  "modified": null,
  "status": "Accepted",
  "amount": 1000
}