#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/3244786f-9c83-4dd9-bc0a-10c61d5306d6/ # 
title: online_shopping
version: 1.0.1
types:
  product: !include types/product.raml
  order: !include types/create-order.raml
  catagory: !include types/catagory.raml
traits:
  codes: !include traits/codes.raml
  created: !include traits/201.raml
securitySchemes:
  auth: !include security/auth.raml

/user:
  is:
    - codes:
  post:
    body:
      application/json:
        example:
          {
            "username": "Merhawit",
            "email":"mer@mule.com"
          }
    responses:
      200:
        body:
          application/json:
                example:
                  {
                    "uid": 20
                  }                    
    is:
      - created:               
  get:
    responses:
      200:
        body:
          application/json:
            example: !include example/all-users.raml     
  /{id}:   
     get:
       responses:
        200:
          body:
            application/json:
              example: !include example/all-users.raml
       is:
          - codes:            
/products:
  is:
    - codes:
  get:
    responses:
      200:
        body:
          application/json:
            type: product[]
            example: !include example/allproducts.raml     
  /{id}:
     is:
        - codes:
     get:
      responses:
        200:
          body:
            application/json:
              type: product
              example: !include example/product.raml        
/orders:
  is:
    - codes:
  get:
    responses:
      200:
        body:
          application/json:
            example: !include example/orders.raml     
  post:
      body:
        application/json:
          type: order
          example: !include example/create-order.raml
      is:
        - created: 
  /{id}:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include example/orders.raml 
      is:
        - codes:  
  /{uid}:
     get:
       responses:
        200:
          body:
            application/json:
              example: {"message": "ok"}
       is:
          - codes:
                   
/catagories:
  is:
    - codes:   
  get:
    responses:
      200:
        body:
          application/json:
            example:
                {
                  "catagoryid": 1,
                  "name": "laptop"
                }
  /{id}:
    get:
      responses:
        200:
          body:
            application/json:
              type: catagory
              example: !include example/catagory.raml
      is:
        - codes:
                  
              

 
                


                      
  
           
  
                             