#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/0f7835c7-e9c9-442b-88c5-e0e2463eb308/ # 
title: online-shoping

/user:
  post:
    body:
      application/json:
        example: !include/example/user.raml

    responses:
      200:
        body:
          application/json:
            example: !include/example/user.raml
             
  get:
    description: 
    responses:
      200:
        body:
          application/json:
            example: 
   

/products:
  get:
    responses:
      200:
        body:
          application/json:
            example: 
 
 
  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include example/product.raml
/category:
  get:
    description: To retrive the categories.
    responses:
      200:
        body:
          application/json:
            example: !include example/categories.raml
  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example:
                {
               "categoryid": 12,
               "name": "home electronics"
                                }
/orders:
  get:
    responses:
      500:
        body:
          application/json:
            example:
              {
             "error": "Internal Server Error",
             }
  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include example/orderbyId.raml
  post:
   body:
      application/json:
        example:
               {
                 "products": 
               [ { "productId": 100,
                 "quantity": 2} ],
               "uid": 100
             }
   responses:
      201:
        body:
          application/json:
            example:
              {
                "Created"
              }
              
             
                

 
