#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/fb8140ab-ada9-4a3e-ba75-1c611d1eeb84/ # 
title: Online-Shopping

/users:
  post:
    body:
      application/json:
        example:
          {
            "username":"Dejen",
            "email":"DejenTest@gmail.com"
          }
    responses:
      200:
        body:
          application/json:
            example:
              {
                "uid": 101
              }
/products:
  /{id}:
    get:
      responses:
        200:
          body:
            application/json:
              example:
                {
                  "productid": 101,
                  "categoryid": 19,
                  "name": "KK G-707 Gaming mouse",
                  "description": "the G-707 Gaming mouse is a razor-sharp moouse  with 3000 DPI",
                  "video_url": "https://www.youtube.com/watch?v=3AtDnEC4zak",
                  "price": 7777
                }
/Categories:
  /{id}:
    get:
      responses:
        200:
          body:
            application/json:
              examples:
                {
                  "categoryid": 10
                  "name":"laptop"
                  
                }
/orders:
  get:
    responses:
      200:
        body:
          application/json:
            examples: 
              "map": { "address": 0,
                        "amount": 0,
                        "created": {
                        "date": 0,
                        "day": 0,
                        "hours": 0,
                        "minutes": 0,
                        "month": 0,
                        "nanos": 0,
                        "seconds": 0,
                        "time": 0,
                        "timezoneOffset": 0,
                        "year": 0
                        },
                        "discounted": 0,
                        "modified": {
                        "date": 0,
                        "day": 0,
                        "hours": 0,
                        "minutes": 0,
                        "month": 0,
                        "nanos": 0,
                        "seconds": 0,
                        "time": 0,
                        "timezoneOffset": 0,
                        "year": 0
                      },
                      "orderid": 0,
    "status": "string",
    "userid": 0
  }
/Orders:
  /{id}:
    get:
      responses:
        200:
          body:
            application/json:
              examples:
                {
  "orderid": 128,
  "userid": 1019,
  "addressid": 201,
  "discountid": 1,
  "created": "2020-05-27T23:18:46.000+00:00",
  "modified": null,
  "status": "Accepted",
  "amount": 1000
}
/Create Orders:
  post:
    body:
      application/json:
        examples:
          {
            "products": {
              "productId": 0,
              "quantitiy": 0
            }
          }
    responses:
      200:
        body:
          application/json:
            example:
              {
  "orderid": 128,
  "userid": 1019,
  "addressid": 201,
  "discountid": 1,
  "created": "2020-05-27T23:18:46.479+00:00",
  "modified": null,
  "status": "Accepted",
  "amount": 1000
}
 put:
    responses:
      200:
        body:
          application/json:
            example:
              {"response":"order successfully updated"}
 delete:
    responses:
      200:
        body:
          application/json:
            example:
              {"response":"order successfully deleted"}      
      404:
        body:
          application/json:
            example:
              {"order not found try again"} 
